* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.5) 50%),
        url("reg.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.change-password-container {
    background: black;
    color: white;
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    width: 500px;
    height: 450px;
    border: 2px solid gray;
}

.change-password-container h2 {
    padding-bottom: 10px;
    text-transform: uppercase;
    color: #ff7200;
    text-align: center;
    padding-bottom: 20px;
}

.form-group {
    margin-bottom: 1rem;
}

.form-group label {
    display: block;
    margin-bottom: 0.5rem;
}

.form-group input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
    background: transparent;
    border: none;
    border-bottom: 1px solid #ff7200;
    color: white;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px black inset !important;
    -webkit-text-fill-color: white !important;
    background-color: black !important;
    transition: background-color 9999s ease-in-out 0s;
}

.submit-btn {
    width: 100%;
    background-color: #ff7200;
    color: white;
    padding: 10px;
    border-radius: 50px;
    font-size: 16px;
    box-sizing: border-box;
    letter-spacing: 5px;
}

.submit-btn:hover {
    background-color: #fff;
    color: #ff7200;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.message {
    margin-top: 1rem;
    text-align: center;
    color: red;
}

#footer {
    background: #222;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}
#footer a {
    color: #ff7200;
    text-decoration: none;
}